<div class="container">
  <script id="some-template" type="text/x-handlebars-template">
    <div class="content">
      {{#quizzes}}
        {{quiz_id}}. {{name}}
      {{/quizzes}}
    </div>


</script>
  NOTHING TO SEE HERE!
</div>
