<script id="entry-template" type="text/x-handlebars-template">

</script>

<div class="container">
<!--   NOTHING TO SEE HERE! -->
	<div class="quizzes"></div>
	
	<div id="quiz_template" >
		<h1>{{name}}</h1>
		<a href="#" id="getQuizQuestions">{{quiz_id}}</a>	
	</div>

</div>
