<div class="container">
  NOTHING TO SEE HERE!


<script id="question-template" type="text/x-handlebars-template">
  <div class="question">
    <h1>{{question}}</h1>
      <ul>
      {{#choices}}
        <li>{{choice}}</li>
      {{/choices}}
    </ul>
  </div>
</script>

<script id="quiz-template" type="text/x-handlebars-template">
  <div class="quiz">
    <h1>{{name}}</h1>
  </div>
</script>

</div>
