<div class="container">
  <script id="quiz-template" type="text/x-handlebars-template">
    <ul>
      {{#quizzes}}
      <li class="quiz" data-quizid={{quiz_id}}>{{name}}</li>
      {{/quizzes}}
    </ul>
  </script>

  <script id="question-template" type="text/x-handlebars-template">
     {{#question}}
      <h4 data-id="{{question_id}}">{{question_id}}. {{question}}</h4>
      <section class="choices">
        <ul>
          {{#choices}}
        <li data-id="{{choice_id}}"><a href="/">{{choice}}</a></li>
          {{/choices}}
        </ul>
       {{/question}}
      </section>
  </script>

</div>

