<div id="boxy">
  <div class="container"></div>
  <hr>
  <div class="a_question"></div>
  <div class="choices"></div>
</div>

<script id="quiz-template" type="text/x-handlebars-template">
  <div id="a_quiz">
    Quiz Id: {{QuizId}} <br>
    Quiz Title: {{QuizName}}
  </div>
</script>

<script id="question-template" type="text/x-handlebars-template">

    <ul>
      <li id={{questionId}}>Question: {{questionText}}</li>
      <ol>
        {{#each choicesArray}}
            <li>
              <button class={{question_id}} id={{choice_id}}>{{choice}}</button>
            </li>
        {{/each}}
      </ol>
    </ul>
</script>
