.container {
  margin: 3em;
}

.true {
  background-color: rgb(172, 253, 172);
}

.false {
  background-color: rgb(253, 172, 175);
}
ul
{
list-style-type: none;
padding:15px;
font-family: helveitca;

}

ul a
{
text-decoration: none;
color: blue;
}
