body {
  background-color: beige;
  background-image: url("http://i.imgur.com/S9TpDaa.jpg");
  color: black;
  margin: 35px;
  font-size: 12px;
  font-family:Helvetica;
}

#boxy {
  background-color: white;
  margin: 20px;
  padding: 10px;
  color:black;
  margin: 3em;
  border-radius: 3px;
  border: 2px solid grey;
}

.container {}

.a_question {}

.choices {}
